/*
 * CSS file for Connections Home Screen
 */

.root {
    -fx-spacing: 15;
    -fx-padding: 15;
    -fx-alignment: Center;
    -fx-background-color: LightBlue;
    -fx-min-width: 1000;
    -fx-min-height: 800;
}

.button {
    -fx-min-height: 40;
    -fx-min-width: 800;
}

.title {
    -fx-font-weight: BOLD;
    -fx-font-size: 50;
    -fx-text-alignment: CENTER;
    -fx-font-family: Verdana;
}
